// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');


// colors
$purple-dark: #7C5DFA;
$purple-light: #9277FF;
$navy-dark: #1E2139;
$navy-medium: #252945;

$purple-muted-light: #DFE3FA;
$purple-muted-medium: #888EB0;
$purple-muted-dark: #7E88C3;

$red-dark: #EC5757;
$red-light: rgb(255, 151, 151);

$charcoal-light: #141625;
$charcoal-dark: #0C0E16;


// typography
$font-family: 'League Spartan', sans-serif;
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-light: 400;

$font-h1: $font-weight-medium 30px/36px $font-family;
$font-h2: $font-weight-bold 20px/22px $font-family;
$font-h3: $font-weight-bold 16px/24px $font-family;
$font-h4: $font-weight-bold 12px/15px $font-family;

$font-body1: $font-weight-medium 12px/15px $font-family;
$font-body2: $font-weight-medium 11px/18px $font-family;