@use '../abstracts/variables' as *;

.view-invoice {
    position: relative;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 83vw;
    min-height: 100vh;
    background-color: $charcoal-light;
    color: #fff;
    font-size: 0.7rem;

    @media(min-width: 1200px) {
        width: 80vw;
    }

    @media(min-width: 1400px) {
        width: 70vw;
    }

    &__navigate {
        width: 530px;
        margin-bottom: 1.3rem;
        margin-left: -2.6rem;
        margin-top: 3rem;

        img {
            width: 7px;
            height: 7px;
            cursor: pointer;
        }

        span {
            cursor: pointer;
            padding-left: 1rem;
        }
    }

    &__header {
        position: relative;
        width: 530px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $navy-dark;
        padding: 0.7rem 1.5rem;
        border-radius: 7px;

        &__container1 {
            display: flex;
            align-items: center;
            color: $purple-muted-light;

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0.5rem 0;
                border-radius: 7px;
                width: 70px;
                margin-left: 1rem;

                span {
                    font-size: 0.35rem;
                    width: 10px;
                    margin: 0 0.3rem 0 -0.1rem;
                }
            }
        }

        &__container2 {
            button {
                border: none;
                border-radius: 20px;
                font-size: 0.6rem;
                padding: 0.6rem 1rem;
                cursor: pointer;
            }

            #view-invoice-edit {
                background-color: $navy-medium;
                color: #fff;

                &:hover {
                    background-color: #fff;
                    color: $purple-dark;
                }
            }

            #view-invoice-delete {
                background-color: $red-dark;
                color: #fff;
                margin: 0 0.3rem;

                &:hover {
                    background-color: $red-light;
                }
            }

            #view-invoice-mark {
                background-color: $purple-dark;
                color: #fff;

                &:hover {
                    background-color: $purple-light;
                }
            }
        }
    }

    &__invoice {
        position: relative;
        width: 530px;
        background-color: $navy-dark;
        border-radius: 7px;
        padding: 1.5rem;
        margin-top: 1.1rem;
        margin-bottom: 3.5rem;

        &__container1 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0.8rem;
            color: $purple-muted-light;

            #view-invoice-id {
                font-size: 0.9rem;
                color: #fff;
                margin-bottom: 0.5rem;
                margin-top: -1rem;

                &:before {
                    color: $purple-muted-dark;
                    content: '#';
                }
            }

            #view-invoice-senderAddress {
                line-height: 15px;
                text-align: right;
            }
        }

        &__container2 {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: 0.8rem;

            div {
                text-align: left;

                &:nth-of-type(1) {
                    margin-right: 4rem;
                }

                &:nth-of-type(3) {
                    margin-left: 3.7rem;
                }
            }

            &__label {
                color: $purple-muted-light;
                margin-bottom: 0.7rem;
            }

            &__input {
                color: #fff;
                font-size: 0.9rem;
            }
        }

        &__container3 {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: 0.8rem;
            margin-top: 1.6rem;

            div {
                &:nth-of-type(1) {
                    margin-right: 3.85rem;
                }
            }

            #view-invoice-clientAddress {
                line-height: 15px;
                color: $purple-muted-light;
                margin-top: -1rem;
            }
        }

        &__container4 {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $navy-medium;
            margin: 0.8rem;
            margin-top: 2rem;
            border-radius: 7px;

            table {
                width: 90%;
                padding: 1rem 0;

                th {
                    font-size: 0.7rem;
                    font-weight: 400;
                    color: $purple-muted-light;
                    padding: 0.6rem 0;

                    &:nth-of-type(1) {
                        text-align: left;
                    }

                    &:nth-of-type(3) {
                        text-align: right;
                    }

                    &:nth-of-type(4) {
                        text-align: right;
                    }
                }
            }

            &__item {
                td {
                    padding: 0.8rem 0;
                    color: #fff;

                    &:nth-of-type(2) {
                        text-align: center;
                        color: $purple-muted-light;
                    }

                    &:nth-of-type(3) {
                        text-align: right;
                        color: $purple-muted-light;
                    }

                    &:nth-of-type(4) {
                        text-align: right;
                    }
                }
            }

            &__total {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                background-color: $charcoal-dark;
                border-bottom-left-radius: 7px;
                border-bottom-right-radius: 7px;
                padding: 1.1rem 0;

                div {
                    width: 89%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                #view-invoice-amount-due {
                    color: lightgray;
                }

                #view-invoice-total {
                    display: flex;
                    justify-content: flex-end;
                    font-size: 1.4rem;
                    font-weight: 500;
                }
            }
        }

    }
}